# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug and logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS and editors
.DS_Store
*.pem
.vscode/
.idea/

# Env files
.env*.local
.env

# TypeScript
*.tsbuildinfo
